nav.header {
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    position: relative;
    z-index: 1;

    background-color: #eee;
    border-bottom: 1px solid lightgrey;
}

#user-dropdown-parent {
    position: relative;
}

#user-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    right: 5px;
    z-index: 100000000;
    cursor: pointer;

    min-width: 130px;
}

#user-dropdown li a {
    display: flex;
    align-items: center;
}

#user-dropdown i {
    margin-right: 10px;
    font-size: 20px;
}

/* Start Main Header li */

@media(min-width: 767px) {
    #navbar-user ul li {
        position: relative;
    }
    
    #navbar-user ul li::before {
        content: "";
        position: absolute;
    
        bottom: -8px;
        left: 0;
        width: 0%;
        height: 5px;
        border-radius: 2.5px;

        transition: width 0.3s;

        background-color: rgb(59 130 246);
    }

    #navbar-user ul li:hover::before,
    #navbar-user ul li.active::before {
        width: 100%;
    }
    
}


@media(max-width: 768px) {
    #navbar-user ul li {
        margin-bottom: 5px;
    }
    #navbar-user ul li.active {
        background-color: rgb(219 234 254);
    }
}

/* End Main Header li */

#dark-toggle {
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
}

@media(min-width: 767px) {
    #dark-toggle {
        margin-right: 15px;
    }
}

#dark-toggle i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -0%);

    /* visibility: hidden; */
    opacity: 0;
    transition: transform 0.3s;
}

#dark-toggle i.active {
    opacity: 1;
    transform: translate(-50%, -50%);
    /* visibility: visible; */
}