.home-page .container .home-section {
    padding: 25px 0;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    /* min-height: 500px; */
}

.home-page .container .home-section:not(:last-child) {
    border-bottom: 1px solid var(--color-four);
}

.home-page .container .home-section .info h2 {
    font-size: 35px;
    width: fit-content;
    /* font-weight: 900; */
}

.home-page .container .home-section .info p {
    max-width: 500px;
    margin: 10px 0 50px;
    color: #333;
    color: grey;
}


.home-page .container .home-section img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    /* display: none; */
}


.home-page .container .home-section i {
    font-size: 200px;
    width: 250px;
    text-align: center;
    display: none;
}

.home-page .container .home-section i.one {
    color: var(--color-one);
}

.home-page .container .home-section i.two {
    color: var(--color-three);
}

.home-page .container .home-section i.three {
    color: goldenrod;
}

.home-page .container .home-section i.four {
    color: var(--color-five);
}
