@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-one: #5680E9;
    --color-two: #84CEEB;
    --color-three: #5AB9EA;
    --color-four: #C1C8E4;
    --color-five: #8860D0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}